<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
    <div class="dark:border-gray-600 h-33 md:h-36">
        <app-stats-users/>
    </div>
    <div class="dark:border-gray-600 h-33 md:h-36">
        <app-stats-sessions/>
    </div>
    <div class="dark:border-gray-600 h-33 md:h-36">
        <app-stats-avg/>
    </div>
    <div class="dark:border-gray-600 h-33 md:h-36">
        <app-stats-page-views/>
    </div>
</div>

<div class=" dark:border-gray-600 h-[auto] mb-4">
    <app-graficas-documentos/>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
    <div class="rounded-lg border-gray-300  dark:border-gray-600 h-[auto] md:h-[auto]">
        <app-graficas-reportes/>
    </div>
    <div class="rounded-lg border-gray-300 dark:border-gray-600 h-[auto] md:h-[auto]">
        <app-graficas-ventas/>
    </div>
    <div class="rounded-lg border-gray-300 dark:border-gray-600 h-[auto] md:h-[auto]">
        <app-graficas-usuarios/>

    </div>
</div>
