<div class="panelModulo">
  <div class="container-fluid menutamaño"></div>
  <div class="container text-center dashboardTitleContainer">
    <div class="row">
      <div class="card mt-5 tabla">
        <div class="card-body mt- text-center ">
          <span>Documentos</span>
          <button class="btn btn-success float-right" [routerLink]="['/importar']" routerLinkActive="router-link-active">Agregar</button>
          <div class="spinner-container" *ngIf="isLoading">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <table class="table table-striped table-hover text-left" *ngIf="listDocumentos.length > 0">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Documento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let documento of listDocumentos">
                <tr>
                  <td>{{documento.fecha | date: 'dd/MM/yyyy'}}</td>
                  <td>DOCUMENTO</td>
                  <td>
                    <i class="fas fa-eye text-info" (click)="obtenerDocumento(documento.id)"></i>
                    <a href="{{documento.documento}}" download><i class="fas fa-download text-warning"></i></a>
                  </td>
                </tr>
                <tr *ngIf="subfilaVisible[documento.id]">
                  <td colspan="3">
                    <ngx-extended-pdf-viewer #pdfViewer 
                      [src]="documento.documento.toString()"
                      
                      [showDrawEditor]="true"
                      [showDownloadButton]="true"
                      [showZoomButtons]="false"
                      [showPagingButtons]="false"
                      [showOpenFileButton]="false"
                      [showSidebarButton]="false"
                      [showStampEditor]="false"
                      [showTextEditor]="false"
                      [showSpreadButton]="false"
                      
                    ></ngx-extended-pdf-viewer>
                    <button (click)="exportToBase64()">Obtener Valor PDF Viewer</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <h5 style="text-align: start;" *ngIf="listDocumentos.length === 0 && !isLoading">No hay documentos para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>