<div class="container-fluid conForm full-height">
  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">

      <div class="header">

        <div class="info">
          <h2>Bienvenido superUser</h2>
        </div>
        <div class="btnSalir">
          <button type="button" class="btn btn-danger">Salir</button>
        </div>

      </div>

      <!-- <div class="menu">
        <ul>
          <li>Usuarios</li>
          <li>Logs</li>
        </ul>
      </div> -->

      <div class="panel">

        <div class="registrar">

          <!-- Nombre del usuario -->

          <div class="field">
            <label class="label">Nombre/Nombres</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nombre del usuario">
            </div>
          </div>

          <div class="field">
            <label class="label">Apellido Paterno</label>
            <div class="control">
              <input class="input" type="text" placeholder="Apellido del usuario">
            </div>
          </div>

          <div class="field">
            <label class="label">Apellido Materno</label>
            <div class="control">
              <input class="input" type="text" placeholder="Apellido del usuario">
            </div>
          </div>

          <!-- Datos del Usuario -->

          <div class="field">
            <label class="label">Usuario</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Usuario" value="bulma">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <p class="help is-success">Usuario Recomendado</p>
          </div>

          <div class="field">
            <label class="label">Correo</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p class="help is-danger">Esta correo es invalido</p>
          </div>

          <div class="field">
            <label class="label">Numero telefonico</label>
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +52
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="tu numero telefonico">
                  </p>
                </div>
                <p class="help">Do not enter the first zero</p>
              </div>
            </div>
          </div>

          <!-- Otro datos del usuario -->
          <div class="field">
            <label class="label">Subject</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question">
                No
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>



<!-- ########################### -->
        </div>

        <div class="tabla">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

    <div class="col-1"></div>
  </div>
</div>

<!--

  datos a llenar
-fecha en el que se registro

-Nombre del Colaborador
-Apellido del Colaborador
-Usuario
-Correo
-Telefono


-Areas
-Puesto
-Region



-Contraseña
-Validar Contraseña

-pregunta de seguridad
-Respuesta

-role

-status

-profile

-idColaborador
-idCandidato
-estado
-mfa
-secciones
-fecha de baja

 -->

