<div class="panelModulo">
  <!-- TOP MENU -->
  <div class="container-fluid menutamaño"></div>

    <!-- TITLE -->
    <div class="TItleCon">
      <div class="titleCon">
        <div class="text-center text-5xl font-extrabold leading-none tracking-tight">
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">
            Graficas
          </span>
        </div>
      </div>
    </div>

    <div class="graficasflex2">

      <div class="grafica1">
        <div class="container text-center dashboardTitleContainer">
          <div class="chart-container">
            <apx-chart
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [xaxis]="chartOptions.xaxis!"
              [title]="chartOptions.title!"
            ></apx-chart>
          </div>
        </div>

      </div>

      <div class="grafica2">
        <div class="container text-center dashboardTitleContainer">
          <div style="text-align:center">
            <apx-chart
              [series]="splineChartOptions.series!"
              [chart]="splineChartOptions.chart!"
              [xaxis]="splineChartOptions.xaxis!"
              [title]="splineChartOptions.title!"
            ></apx-chart>
          </div>
        </div>
      </div>

    </div>

    <div class="graficasCon">

      <div class="container text-center dashboardTitleContainer">
        <div style="text-align:center">
          <apx-chart
            [series]="horizontalBarChartOptions.series!"
            [chart]="horizontalBarChartOptions.chart!"
            [xaxis]="horizontalBarChartOptions.xaxis!"
            [title]="horizontalBarChartOptions.title!"
          ></apx-chart>
        </div>
      </div>

    </div>



</div>


<!--

    <ngx-charts-advanced-pie-chart
      [view]="view"
      scheme="neons"
      [results]="single"
      [gradient]="gradient"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
    </ngx-charts-advanced-pie-chart>


 -->
