<div class="background-container">

  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-0 col-md-0	col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-12	col-lg-10 col-xl-10">

        <div class="conCentralnMfa">

          <div class="container containerMfa">

            <div class="container conTitle">
              <h3>
                Verificación de 2 pasos
              </h3>
              <span>
                Para vereficar que es usted, introduzca el código que le enviamos a su teléfono
              </span>
            </div>

            <div class="container conBody">
              <div class="input-container">
                <input type="text" id="input" required>
                <label for="input">Codigo</label>
              </div>

              <button class="btn-1">Verificar</button>

            </div>

            <div class="container confooter">
              <span>¿no recibi el codigo de verificacion?</span>
              <button type="button" class="btn btn-light">Renviar codigo</button>

            </div>

          </div>

        </div>

      </div>
      <div class="col-sm-0 col-md-0	col-lg-1 col-xl-1"></div>
    </div>
  </div>


</div>

