.panelModulo{
  /* background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); */

  /* background-image: radial-gradient(circle, #1a1a1a, #171717, #131313, #0e0e0e, #080808, #080808, #080808, #080808, #0e0e0e, #131313, #171717, #1a1a1a); */

    /* background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
 */


 background: #000000;
 --gap: 5em;
 --line: 1px;
 --color: rgba(255, 255, 255, 0.2);

 background-image: linear-gradient(
     -90deg,
     transparent calc(var(--gap) - var(--line)),
     var(--color) calc(var(--gap) - var(--line) + 1px),
     var(--color) var(--gap)
   ),
   linear-gradient(
     0deg,
     transparent calc(var(--gap) - var(--line)),
     var(--color) calc(var(--gap) - var(--line) + 1px),
     var(--color) var(--gap)
   );
 background-size: var(--gap) var(--gap);

  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.TItleCon{
  background-color: black;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 30px;
  border: 1px solid white;
}

/* Menu Top */
.menutamaño{
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
}


/* Module title */
.moduleTitle{
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 36px;
  border: 1px solid white;
}

.muduleContianer {
  background-color: #0d6efd;
  width: 100%;
  height: 450px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.muduleContianer a {
  color: black;
}

.is-child{
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}
.is-child:hover{
  box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform:translate(0px,5px);
}

.is-child {
  background-color: black;
  border: 1px solid white;
  border-radius: 15px;
}

.title{
  color: #0d6efd;
}

.subtitle{
  color: white;
}

/* ****************** */
@media (max-width: 575.98px) {
  .moduleTitle{
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 36px;
    border-radius: 1px solid white;
  }
 }

@media (max-width: 767.98px) {
  .moduleTitle{
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 36px;
  }
 }

@media (max-width: 991.98px) {
  .moduleTitle{
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 36px;
  }
 }

 .gerenteCon, .colabordores, .allColaboradores{
  display: flex;
  flex-wrap: wrap;
 }
.imgGerente{
  margin-left: 10px;
}

.btnMudulo{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.imgGerente{
  margin-top: 10px;
}
