<div class="panelModulo">

  <!-- TOP MENU -->
  <div class="container-fluid menutamaño"></div>

  <!-- MENU TITLE -->
  <div class="container text-center moduleTitle">
    <div class="container conTitle">
      <span>Modulos</span>
    </div>
  </div>

  <!-- MODULE SECCION -->
  <div class="container text-center muduleContianer">

    <div class="container" *ngFor="let modulo of modulos" (click)="oneSelect(modulo)">
      <span>{{ modulo.name }}</span>
    </div>

    <div class="container"></div>

  </div>

</div>


