<!-- TOP MENU -->
<div class="container-fluid menutamaño"></div>

<!-- PAGINA -->
<div class="container text-center graficasCon">
  <div class="row align-items-start">

<div class="col-1"></div>
<div class="col-10">
  <div class="graficaTitulo">
    <h2>Graficos</h2>
  </div>
</div>
<div class="col-1"></div>

  </div>
</div>

<!-- Dashboa Panel -->
<div class="container text-center graficasCon">
  <div class="row align-items-start">

    <div class="col-6">
      <div class="container graficas">

      <div class="container grupo1graficas">
        <div class="container grafCon1">
          <h3>Ordenes</h3>
        </div>
        <div class="container grafCon2">
          <h3>Usuario</h3>
        </div>
      </div>
      <div class="contianer grupo2graficas">
        <div class="container grafCon3">
          <h3>Archivos</h3>
        </div>
        <div class="container grafCon4">
          <h3>Notas</h3>
        </div>
      </div>

      </div>
    </div>

    <div class="col-6">
      <div class="container graficas2">
        <div class="container">
          <span></span>
        </div>
        <div class="container">
          <span></span>
        </div>
      </div>
    </div>

  </div>
</div>
