<div class="panelModulo">

  <!-- TOP MENU -->
  <div class="container-fluid menutamaño"></div>

  <!-- MENU TITLE -->
  <div class="container text-center moduleTitle">
    <div class="container conTitle">
      <span>Firma Electronica</span>
    </div>
  </div>

  <div class="container text-center contMenuFirma">

      <!-- <div class="row align-items-start">
        <div class="col-2">
          <div class="contianer conFirmaMenu">
            <span>FIRMA</span>
          </div>
        </div>
        <div class="col-10">
          <div class="container conReadPdf">

          <embed src="../../../assets/documents/_pdf-prueba.pdf" type="">

          </div>
        </div>
      </div> -->


      <article class="message is-link">
        <div class="message-header">
          <p>Link</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          No tienes FIRMA ELECTRONICA
        </div>
      </article>







  </div>




</div>


